version: "3.8"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    volumes:
      - ./:/app:cached
    command: uvicorn python_mastery_portfolio.api:app --host 0.0.0.0 --port 8000 --reload
